.p-purpose {
  &__wrapper {
    width: $maxWidth;
    text-align: center;
    margin: {
      top: 75px;
      left: auto;
      right: auto;
    }
  }

  &__title {
    font-size: 54px;
  }

  &__subtitle {
    margin-top: 30px;
    font-size: 24px;
  }

  &__txt {
    margin-top: 30px;
    line-height: 28px;
  }

  &__link {
    color: $brandColor;
    text-decoration: underline;

    &:hover {
      color: #000;
    }
  }

  @media (max-width: 1000px) {
    &__wrapper {
      width: 90%;
    }

    &__title {
      font-size: 42px;
    }

    &__subtitle {
      font-size: 15px;
    }
  }

  @media (max-width: 640px) {
    &__wrapper {
      width: 95%;
      margin-top: 11px;
    }

    &__title {
      font-size: 32px;
    }

    &__subtitle {
      margin-top: 20px;
    }

    &__txt {
      margin-top: 20px;
    }
  }
}