@mixin top() {
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    padding: 0 20px;
    z-index: 1;
}

.is-position {
  &-top {
    @include top();

    &__logo {
      height: 50px;
    }

    &__nav {
      padding: 17px 0;
    }
  }

  &__purpose {
    margin-top: 195px;
  }

  @media (max-width: 1000px) {
    &__purpose {
      margin-top: 195px;
    }
  }

  @media (max-width: 640px) {
    &-top {
      padding: 10px;

      &__nav {
        padding: 0;
        margin-top: 1px;
      }
    }

    &__purpose {
      margin-top: 98px;
    }
  }
}
