.header {
  &__wrapper {
    position: relative;
    text-align: center;
    padding-bottom: 50%;
  }

  &__bgimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__keyvisual {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;

    &__img {
      width: 100%;
      max-width: 984px;
    }
  }

  &__powerwd {
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;

    &__link {
      &:hover {
        color: #fff;
      }
    }
  }

  @media (max-width: 1000px) {
    &__keyvisual {
      width: 80%;
    }
  }

  @media (max-width: 640px) {
    &__keyvisual {
      width: 90%;
      top: 20%;
    }

    &__powerwd {
      top: 83.5%;
      &__link {
        font-size: 12px;
        letter-spacing: 0.3px;
      }
    }
  }
}